<h1>FLights</h1>

<% @flights.each do |flight|  %>
  <div id='flight-<%= flight.id %>'>
    <%= flight.number %> <%= flight.airline.name %>
    <ul>
      <% flight.tickets.each do |ticket| %>
        <li><%= ticket.passenger.name %> <%= button_to "Remove #{ticket.passenger.name}", ticket_path(ticket), method: :delete %></li>
      <% end %>
    </ul>
  </div>
<% end %>
